<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/base::layout(~{::section})">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Profile</title>
</head>

<body>

<section>
  <div class="aboutContainer">
    <div class="imgBg">
      <img th:src="@{/img/logoBackground.png}" alt="">
    </div>
    <div class="left">
      <p>
        <span>Uni-Book </span>is a Contact management Website. here you can
        save all contacts and you can access anywhere on browser.
      </p>
    </div>
    <div class="right">
      <img th:src="@{/img/aboutUss.png}" alt="">
    </div>
  </div>
</section>



</body>

</html>