<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="user/base::layout(~{::section})">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>

</head>

<body>

<section>
    <div class="Profilecontainer">
        <div class="profileForm">
            <div class="first">
                <p>Uni-Book</p>
                <img th:src="@{/img/profile.png}" alt="" srcset="">
                <span class="border"></span>
            </div>
            <div class="profileData">
                <p><label>Name: <span th:text="${user.name}"></span></label>
                    <label>Email: <span th:text="${user.email}"></span></label>
                    <label>Number: <span th:text="${user.number}"></span></label>
                </p>
                <a th:href="@{/user/updateProfile}"><button type="submit" id="submit">Update</button></a>
                <a th:href="@{/logout}"><button type="button" id="reset">Logout</button></a>
            </div>
        </div>
    </div>
</section>



</body>

</html>