.container {
  height: 55rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgetpassword {
  width: 100%;
  display: flex;
}
.forgetpassword h1 {
  font-size: 3rem;
  display: flex;
  justify-content: center;
}
.container #login {
  height: 46rem;
  width: 35%;
  border: 0.2rem solid #e7e4e4;
  border-radius: 0.9rem;
  display: flex;
}
.container #login .loginForm {
  height: 100%;
  width: 100%;
  background-color: #e7e4e4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container #login .loginForm form {
  height: 98%;
  width: 88%;
  border: 0.1rem solid #e7e4e4;
  padding: 1.5rem;
}

.container #login .loginForm form input {
  height: 8%;
  width: 96%;
  padding: 2rem;
  margin: 0.6rem;
  border: 0.1rem solid #e7e4e4;
  border-radius: 0.9rem;
}

.container #login .loginForm form a {
  color: rgb(37, 37, 94);
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0.9rem 2rem;
  float: right;
}

.container #login .loginForm form button {
  height: 12%;
  width: 96%;
  margin: 0.6rem;
  border: 0.1rem solid #e7e4e4;
  border-radius: 0.9rem;
  background-color: #093b4b;
  color: white;
  font-size: 2rem;
}

.container #login .loginForm form .formText {
  color: rgb(37, 37, 94);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  padding-top: 8rem;
}

.container form p .signicons {
  display: flex;
  justify-content: center;
  padding: 0.1rem 1rem 1rem 1rem;
  font-size: 4rem;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  html {
    font-size: 48%;
  }
  .navbar #logo .logoText {
    font-size: 2.7rem;
    font-weight: 600;
    line-height: 6.8rem;
  }
  .navbar .nav-items {
    display: none;
  }
  .navbar #hamburger {
    padding-top: 0.8rem;
    padding-right: 1rem;
    display: block;
    float: right;
    z-index: 100;
  }
  .navbar .hambody {
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2rem);
    z-index: 10;
    position: absolute;
    left: 0;
    padding: 1rem 3rem;
  }
  .navbar .hambody .ham {
    height: 9rem;
    width: 100%;
    display: block;
    padding: 1rem;
    border-bottom: 1px solid #093b4b;
  }
  .navbar .hambody .ham .hamLogo {
    float: left;
  }
  .navbar .hambody .ham .hamLogo #logo {
    display: flex;
    text-decoration: none;
  }
  .navbar .hambody .ham .hamLogo .logoText {
    color: black;
  }
  .navbar .hambody .ham .hamclose {
    padding-top: 0.5rem;
    float: right;
  }
  .navbar .hambody .ham-items {
    list-style: none;
    padding: 4rem;
  }
  .navbar .ham-items .items {
    padding: 1.5rem;
  }
  .navbar .ham-items .items a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 3.2rem;
    font-weight: 500;
  }
  .container #login {
    width: 95%;
  }
  .container .banner {
    width: 45%;
  }
  .container .banner .heading {
    font-size: 2.6rem;
  }
  .container .banner .text {
    height: 15rem;
  }
  .container .banner .title {
    font-size: 3.4rem;
  }
  .container .banner .subtitle {
    font-size: 2rem;
  }
  .container .banner .newUser {
    height: 12rem;
    display: flex;
    text-align: center;
  }
  .container .banner .newUser a {
    font-size: 1.8rem;
    width: 90%;
  }

  footer {
    display: none;
  }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
  html {
    font-size: 54%;
  }
  .navbar #logo .logoText {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .container #login {
    width: 60%;
  }
  .container .banner {
    width: 45%;
  }
  .container .banner .heading {
    font-size: 2.6rem;
  }
  .container .banner .text {
    height: 15rem;
  }
  .container .banner .title {
    font-size: 3.4rem;
  }
  .container .banner .subtitle {
    font-size: 2rem;
  }
  .container .banner .newUser {
    height: 12rem;
    display: flex;
    text-align: center;
  }
  .container .banner .newUser a {
    font-size: 1.8rem;
    width: 90%;
  }
  footer {
    position: absolute;
    top: 59rem;
    padding: 0rem 1rem;
  }
}

@media screen and (min-width: 800px) and (max-width: 1260px) {
  html {
    font-size: 60.5%;
  }
  .navbar #logo .logoText {
    font-size: 2.5rem;
    font-weight: 600;
  }
  .container #login {
    width: 60%;
  }
  .container .banner {
    width: 45%;
  }
  .container .banner .heading {
    font-size: 2.6rem;
  }
  .container .banner .text {
    height: 15rem;
  }
  .container .banner .title {
    font-size: 3.4rem;
  }
  .container .banner .subtitle {
    font-size: 2rem;
  }
  .container .banner .newUser {
    height: 12rem;
    display: flex;
    text-align: center;
  }
  .container .banner .newUser a {
    font-size: 1.8rem;
    width: 90%;
  }
  footer {
    padding: 0rem 2rem;
  }
}
