<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}"></title>
    <link rel="shortcut icon" th:href="@{/img/contactbg.svg}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/comman.css}">
    <link rel="stylesheet" th:href="@{/css/signup.css}">
    <script src="https://code.jquery.com/jquery-3.6.3.js"
            integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
</head>

<body>
<div class="navbar">
    <a th:href="index" class="logo">
        <iconify-icon icon="fluent:contact-card-group-16-filled" style="color: white;" id="icon"></iconify-icon>
        <span class="logoText">Uni-Book</span>
    </a>
    <ul class="nav-items">
        <li class="items">
            <a th:href="index"> Home</a>
        </li>
        <li class="items">
            <a th:href="about">About</a>
        </li>
        <li class="items">
            <a th:href="contact">Contact</a>
        </li>
        <li class="items">
            <a th:href="login">Log in</a>
        </li>
    </ul>
    <div id="hamburger">
        <iconify-icon icon="pajamas:hamburger" style="color: white;" width="32"></iconify-icon>
    </div>
    <div class="hambody">
        <div class="ham">
                <span class="hamLogo">
                    <a th:href="index" id="logo">
                        <iconify-icon icon="fluent:contact-card-group-16-filled" style="color: black;" width="50"
                                      id="icon"></iconify-icon>
                        <span class="logoText">Uni-Book</span>
                    </a>
                </span>
            <span class="hamclose">
                    <iconify-icon icon="ri:close-fill" style="color: black;" width="40"></iconify-icon>
                </span>
        </div>
        <ul class="ham-items">
            <li class="items">
                <a th:href="index">
                    <iconify-icon icon="ic:round-home"></iconify-icon>
                    Home
                </a>
            </li>
            <li class="items">
                <a th:href="about">
                    <iconify-icon icon="mdi:about"></iconify-icon>
                    About
                </a>
            </li>
            <li class="items">
                <a th:href="contact">
                    <iconify-icon icon="bxs:contact"></iconify-icon>
                    Contact
                </a>
            </li>
            <li class="items">
                <a th:href="login">
                    <iconify-icon icon="ic:baseline-login"></iconify-icon>
                    Log in
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <div id="ragister">
        <div class="ragisterForm">
            <form novalidate th:action="@{/register}" th:object="${user}" method="post">
                <div id="inputFields">
                    <input type="text" name="name" id="username" th:value="${user.name}"
                           placeholder="First and last name" class="input"
                           th:classappend="${#fields.hasErrors('name') ? 'invalid' : 'valid'}" required>
                    <div class="invalid-feedback" th:each="e: ${#fields.errors('name')}" th:text="${e}"></div>
                    <input type="number" name="number" id="number" th:value="${user.number}" class="input"
                           placeholder="Mobile Number"
                           th:classappend="${#fields.hasErrors('number') ? 'invalid' : 'valid'}" required>
                    <div class="invalid-feedback" th:each="e: ${#fields.errors('number')}" th:text="${e}"></div>
                    <input type="email" name="email" id="email" th:value="${user.email}" class="input"
                           placeholder="Email address"
                           th:classappend="${#fields.hasErrors('email') ? 'invalid' : 'valid'}" required>
                    <div class="invalid-feedback" th:each="e: ${#fields.errors('email')}" th:text="${e}"></div>
                    <input type="password" th:value="${user.password}" name="password" class="input" id="password"
                           placeholder="Enter password"
                           th:classappend="${#fields.hasErrors('password') ? 'invalid' : 'valid'}" required>
                    <div class="invalid-feedback" th:each="e: ${#fields.errors('password')}" th:text="${e}"></div>


                    <div class="termscondi"
                         th:classappend="${#fields.hasErrors('checkbox') ? 'unCheck' : 'checked'}">
                        <input type="checkbox" name="checkbox" id="checkbox">
                        <span class="checkText">Agree to Terms and Conditions</span>
                    </div>
                </div>
                <button type="submit">Sign Up</button>
            </form>
        </div>
        <div class="banner">
            <div class="heading">
                <p>Welcome to Uni-Book</p>
            </div>
            <div class="text">
                <div class="title">Sign in</div>
                <div class="subtitle">get access you account & get your data</div>
            </div>
            <div class="newUser">
                <a th:href="login">
                    <div class="newtitle">Already have an account? Sign in</div>
                </a>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="footerlogo">
        <a th:href="index">
            <iconify-icon icon="fluent:contact-card-group-16-filled" style="color: white;"
                          width="55"></iconify-icon>
            <span class="logoText">Uni-Book</span>
        </a>
    </div>
    <div class="about">
        <ul class="footer-items">
            <li>
                <span>KNOW ABOUT</span>
            </li>
            <li>
                <a th:href="index"> Home</a>
            </li>
            <li>
                <a th:href="about">About</a>
            </li>
            <li>
                <a th:href="contact">Contact</a>
            </li>
        </ul>
    </div>
    <div class="social">
        <ul class="footer-items">
            <li>
                <span>SOCIAL</span>
            </li>
            <li>
                <a href="">Facebook</a>
            </li>
            <li>
                <a href="">Twitter</a>
            </li>
            <li>
                <a href="">Instagram</a>
            </li>
        </ul>
    </div>
    <div class="login">
        <ul class="footer-items">
            <li>
                <a th:href="login">Log in</a>
            </li>
            <li>
                <a th:href="signup">Sign in</a>
            </li>
        </ul>
    </div>
</footer>
<script th:src="@{/js/script.js}"></script>
<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>

</body>
</html>